# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

resume.ipynb